@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <!--<h1 class="display-4">welcome</h1>-->
    <div class="row">
        <div class="col">
            <img src="~/images/facebook_cover_photo_1.png" height="200" style="margin-top:30px;margin-bottom:30px;" />
        </div>
        <p>The place where you can find the best price for your smartphones and laptops.</p>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="input-group" style="margin-left:300px;margin-right:300px">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Search</button>
                </span>
            </div><!-- /input-group -->
        </div>
    </div>
    <div class="row" style="margin-top:30px;margin-bottom:30px;">
        <div class="col">
            <a class="btn btn-primary" asp-controller="Products" asp-action="Index">Products</a>
            <a class="btn btn-primary" asp-controller="Sellers" asp-action="Index">Sellers</a>
            <a class="btn btn-primary" asp-controller="Reviews" asp-action="Index">Reviews</a>
            <a class="btn btn-primary" asp-controller="Users" asp-action="Index">Users</a>
            <a class="btn btn-primary" asp-controller="Wishlists" asp-action="Index">Wishlists</a>
            <a class="btn btn-primary" asp-controller="WishlistProduct" asp-action="Index">Wishlist Product</a>
            <a class="btn btn-primary" asp-controller="Locations" asp-action="Index">Locations</a>
            <a class="btn btn-primary" asp-controller="SearchHistories" asp-action="Index">Search Histories</a>
            <a class="btn btn-primary" asp-controller="Faqs" asp-action="Index">Faqs</a>
            <a class="btn btn-primary" asp-controller="Notifications" asp-action="Index">Notifications</a>
        </div>

    </div>
    
</div>