@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <a class="btn btn-primary" asp-controller="Products" asp-action="Index">Products</a>
        <a class="btn btn-primary" asp-controller="Sellers" asp-action="Index">Sellers</a>
        <a class="btn btn-primary" asp-controller="Reviews" asp-action="Index">Reviews</a>
        <a class="btn btn-primary" asp-controller="Users" asp-action="Index">Users</a>
        <a class="btn btn-primary" asp-controller="Wishlists" asp-action="Index">Wishlists</a>
        <a class="btn btn-primary" asp-controller="WishlistProduct" asp-action="Index">Wishlist Product</a>
        <a class="btn btn-primary" asp-controller="Locations" asp-action="Index">Locations</a>
        <a class="btn btn-primary" asp-controller="SearchHistories" asp-action="Index">Search Histories</a>
        <a class="btn btn-primary" asp-controller="Faqs" asp-action="Index">Faqs</a>
        <a class="btn btn-primary" asp-controller="Notifications" asp-action="Index">Notifications</a>
    </div>
    <p>The place where you can find the best price for your smartphones and laptops.</p>
</div>